* {
	box-sizing: border-box;
}

body {
	max-width: 1200px;
	background: orange;
}

.container {
	display: flex; 
	flex-flow: column nowrap;
}

.image {
	margin: 0 auto;
	width: 50%;
}
.image__item {
	height: 100%;
	width: 100%;
}
.image__submit {
	width: 100%;
}

